extends layout.pug 
block content
  h2.is-center Predictions Page
  if games && Object.keys(games).length !== 0
    div
      h3.is-center Upcoming Games:
      div.is-horizontal-align 
        form(action=`/predictions/create`, method="post")
          each game, gameId in games
            label(for=`${gameId}`)
              =`${game.awayTeam} @ ${game.homeTeam} `
              span.tag.is-small=game.date.toDateString()
              select(name=`${gameId}`)
                option(value="") no predictions 
                each option, id in game.options
                  option(value=`${id}`)=option   
          button.is-full-width(type="submit") Make Predictions!
  else 
    p.tag.is-center no upcoming games 
