extends layout.pug 
block content
  h2.is-center Predictions Page
  if games && Object.keys(games).length !== 0
    div
      h3.is-center Upcoming Games:
      div.is-horizontal-align 
        form(action=`/predictions/create`, method="post")
          each game, gameId in games
            p
              label(for=`${gameId}`)
                =`${game.awayTeam} @ ${game.homeTeam} `
                span.tag.is-small=game.date.toDateString()
                if game.prediction
                  span.tag.is-small You've already bet on this
                else if game.options
                  select(name=`${gameId}`)
                    option(value="") no predictions 
                    each option, id in game.options
                      option(value=`${id}`)=option
                else 
                  span.tag.is-small game has already started
          button#loadMore.is-full-width(type="button") Load More Games
          button.is-full-width(type="submit") Save Predictions!
  else 
    p.tag.is-center no upcoming games 
  script(src="../assets/loadMore.js")
