extends layout.pug 
block content
  h2 Standings
  table.striped
    caption Fantasy League 
    thead 
      tr 
        th Owner 
        th Total
        th NHL Points
        th Fantasy Points 
        th Betting %
        th Bets Won 
        th Bets Lost 
        th Total Bets
    tbody 
      each row in standings
        tr 
          td=row.owner.name
          td=(row.eventStats.getTotalNhlPoints() + row.predictions.getFantasyPoints())
          td=row.eventStats.getTotalNhlPoints()
          td=row.predictions.getFantasyPoints()
          td=row.predictions.getPercentage()
          td=row.predictions.correct 
          td=row.predictions.getIncorrect()
          td=row.predictions.total
